VITE_FIREBASE_API_KEY=AIzaSyCMWh-yKE13mQ-SRA3lDugpHXV1kuVMBK8
VITE_FIREBASE_AUTH_DOMAIN=wazee-wa-betting-tz-e7183.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=wazee-wa-betting-tz-e7183
VITE_FIREBASE_STORAGE_BUCKET=wazee-wa-betting-tz-e7183.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=790161817035
VITE_FIREBASE_APP_ID=1:790161817035:web:f217cebf1fca1dcb240a4e
